<section class="description">
    <h3>Smultronställen längs med t-banan!</h3>
    <p>Smultron STHLM är en samling av smultronställen längs med Stockholms tunnebanenät, skapade av privatpersoner som vill dela med sig av sina bästa ställen. Oavsett om du är turist eller stockholmsbo kan du här få tips inför semester eller för en mysig eller rolig stund i vardagen. Var med och bidra och spara dina egna favoriter, bli medlem <a class="new-user-link" ng-click="showNewUserDialog($event)">här!</a></p>
</section>
