<md-dialog aria-label="Skapa konto"class="dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ny användare</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
         <md-input-container class="md-block" flex-gt-sm>
        <label>Välj ett användarnamn</label>
        <input ng-model="user.username" type="text" name="username" ng-click ="clear()">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Välj ett lösenord</label>
      <input ng-model="user.password" type="password" name="password">
      <p>{{fieldError}}</p>
    </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="hide()">Avbryt</md-button>
      <md-button class="md-raised md-primary" ng-click="addNewUser('/loggedin')">Skapa konto</md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
