<div ng-controller="dialogController">

<ul ng-repeat="userplace in userplaces | filter: {created_by: user }" class="activity-card-list">
  <li>
    <md-card class="activity-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-hide="place.editing">{{userplace.title}}</span>

            <md-input-container class="md-block" flex-gt-sm ng-show="place.editing">
              <label>Titel</label>
              <input ng-model="userplace.title" type="text" name="title" value="{{userplace.title}}">
            </md-input-container>

            <span class="md-subhead">Beskrivning:</span>
            <span class="card-paragraph" ng-hide="place.editing">{{userplace.description}}</span>


            <md-input-container class="md-block" flex-gt-sm ng-show="place.editing">
              <label>Titel</label>
              <input ng-model="userplace.description" type="text" name="title" value="{{userplace.description}}">
            </md-input-container>

            <span class="md-subhead">Vägbeskrivning:</span>
            <span class="card-paragraph" ng-hide="place.editing">{{userplace.location}}</span>

            <md-input-container class="md-block" flex-gt-sm ng-show="place.editing">
              <label>Titel</label>
              <input ng-model="userplace.location" type="text" name="title" value="{{userplace.location}}">
            </md-input-container>

          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
          <md-button><md-icon md-svg-icon="img/ic_place_black_36px.svg"></md-icon>{{userplace.area}}</md-button>
          </md-select>
          <md-button><md-icon md-svg-icon="img/ic_rowing_black_36px.svg"></md-icon>{{userplace.type_of_place}}</md-button>
          <md-button>Skapad av: {{userplace.created_by}}</md-button>
          <md-button ng-hide="place.editing" ng-model="editButton" class="md-raised md-primary" ng-click="place.editing = true">Redigera</md-button>
          <md-button ng-show="place.editing" ng-model="saveButton" class="md-raised md-primary" ng-click="savePlace()">Spara</md-button>
          <md-button class="md-raised md-primary" ng-click="deletePlace(userplace, $index)">Ta bort</md-button>
          </md-card-actions>
    </md-card>
  </li>
</ul>

</div>