.description {
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
    border-radius: 15px;
}

.new-user-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.filter {
    background-color: white;
    padding: 5px 20px;
    margin: 20px 0;
    border-radius: 15px;
}