.description {
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
    border-radius: 15px;
}

.filter, .popular-searches {
    background-color: white;
    padding: 5px 20px;
    margin: 20px 0;
    border-radius: 15px;
}
