.search {
    text-align: center;
}

.search-input {
    padding: 10px;
    border: 0px solid #B0BEC5;
    border-radius: 10px;
    width: 500px;
}

.right-column h2 {
    text-align: center;
    padding-bottom: 30px;
}

.activity-card {
    max-width: 600px;
    margin: 15px auto;
    padding: 5px;
}

.activity-card-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.md-subhead, .md-headline, .card-paragraph {
    text-align: left;
    padding: 0 0 5px 10px;
}

.md-headline {
    padding-bottom: 15px;
}