@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji|Baloo+Tamma|Lato|PT+Sans|Prompt';

body {
    background-color: green;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/tunnelbaneschema.svg");
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/tunnelbaneschema.svg");
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/tunnelbaneschema.svg");
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/tunnelbaneschema.svg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.8))), url("../img/tunnelbaneschema.svg");
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/tunnelbaneschema.svg");
    font-family: 'PT Sans', sans-serif;
    background-size: cover;
}

.content-div {
    margin: 50px;
}

@import 'navbar';
@import 'left_column';
@import 'right_column';
@import 'dialogs';